<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ © 2019 by Intellectual Reserve, Inc. All rights reserved.
  -->

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>
        %d{yyyy-MM-dd HH:mm:ss} - %msg%n
      </Pattern>
    </encoder>
  </appender>

  <logger name="io.github.drautb" level="INFO"/>

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
